.img-md {
  width: 40.5vw; /* Tamaño fijo para dispositivos medianos */
  height: calc(40.5vw * 9 / 16); /* 16:9 aspect ratio */
  aspect-ratio: 16/9;
  object-fit: fill; /* Para mantener la relación de aspecto */
  border-radius: 8px;
}

.img-bg {
  width: 88.5vw; /* Tamaño fijo para dispositivos medianos */
  height: calc(88.5vw * 9 / 32); /* 32:9 aspect ratio */
  aspect-ratio: 32/9;
  object-fit: fill; /* Para mantener la relación de aspecto */
  border-radius: 8px;
}

@media (max-width: 600px) {
  .img-md {
    width: 75vw; /* Ajuste de tamaño para pantallas pequeñas */
    height: calc(75vw * 9 / 16); /* Mantener relación de aspecto de 16/9 */
    border-radius: 8px;
  }
}

@media (min-width: 600px) and (max-width: 959px) {
  .img-md {
    width: 41vw;
    height: calc(41vw * 9 / 16);
    border-radius: 8px;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) {
  .img-md {
    width: 40vw;
    height: calc(40vw * 9 / 16);
    border-radius: 8px;
  }
}
