.ourSwiper {
  width: 100%;
  height: 100%;
  margin-top: 7vh;
  margin-bottom: 7vh;
}

.ourSwiper-slide {
  font-size: 18px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 60px;
  height: 100%;
}

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  background-color: transparent;
}

.ourSwiper-slide .title {
  padding-top: 20vh;
  font-size: 2.5rem; /* Tamaño de fuente para el título */
  font-weight: bold; /* Hacer el título en negrita */
  text-align: center;
  text-padding: 1rem; /* Espacio alrededor del título */
}

.ourSwiper-slide .text {
  font-size: 1.2rem; /* Tamaño de fuente para el texto */
  text-align: justify; /* Justificar el texto */
  padding: 1rem; /* Espacio alrededor del texto */
  max-width: 50vw; /* Ancho máximo del texto */
  text-align: center;
  margin: auto; /* Centrar el texto si es menos de 800px */
}

/* Estilos para pantallas pequeñas */
@media (max-width: 600px) {
  .ourSwiper-slide .title {
    font-size: 1.5rem; /* Reducir el tamaño de fuente del título */
  }
  .ourSwiper-slide .text {
    font-size: 1rem; /* Reducir el tamaño de fuente del texto */
  }
}


.ourSwiper-img {
  width: 60vw;
  height: 60vh;
  object-fit: fill;
}
