.root {
  padding-top: 20px;
  background-color: #e8d8c8;
  color: #62c45d;
  padding: 20px 0;
}
.logo {
  height: 80px;
}

.icon {
  color: #f9f6f4;
  height: 70px !important;
  width: 70px !important;
}

@media (min-width: 600px) {
  .icon {
    color: #f9f6f4;
    height: 8vh !important;
    width: 8vw !important;
  }
}

.phoneNumber {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f9f6f4;
  font-size: 16px;
  font-weight: bold;
}

.phoneIcon {
  color: #f9f6f4;
  font-size: 30px;
}
