.background {
    background-color: #f7f7f7;
}

.divisor {
    background-color: #c4885d;
    height: 2px;
    opacity: 0.5;
}

@media screen and (min-width: 1024px) {
.mainPageContainer {
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 0vh;
}
}

.whatsappContainer {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 70px;
    z-index: 2;
}
