.product-card {
  background-color: rgba(197, 207, 255, 0.1) !important;
  border-radius: 12px !important;
  border: 1px solid rgba(255, 255, 255, 0.125) !important;
  -webkit-backdrop-filter: blur(25px) saturate(200%) !important;
  backdrop-filter: blur(25px) saturate(200%) !important;
}

.img-container {
  justify-content: center;
  align-items: center;
  display: flex;
}

.img-product {
  object-fit: contain !important;
  height: 27vh;
  width: 20vw;
  margin: 1px !important;
}