.product-card {
  background-color: rgba(172, 183, 247, 0.1);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  -webkit-backdrop-filter: blur(25px) saturate(200%);
  backdrop-filter: blur(25px) saturate(200%);
}

.img-container {
  justify-content: center;
  align-items: center;
  display: flex;
}

.img-product {
  object-fit: fill !important;
  height: 25vh;
  width: 20vw;
  margin: 1px !important;
}